.lesson {
  background-color: lemonchiffon;
}

.title {
  background-color: darkblue;
  
}

#email {
  background-color: goldenrod;
}

#github {
  background-color: yellow;
}

#portfolio {
  background-color: darkorange;
}
